<div>
  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <h1>Angular Router App</h1>
    </div>
  </div>

  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <img src="../../../../assets/agh.jpg" />
    </div>
  </div>

  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput placeholder="Wpisz login" />
      </mat-form-field>
    </div>
  </div>

  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input matInput placeholder="Wpisz hasło" />
      </mat-form-field>
    </div>
  </div>

  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <button class="button" type="button" mat-raised-button (click)="signIn()">
        Logowanie
      </button>
    </div>
  </div>

  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <button class="button" type="button" mat-raised-button>
        Rejestracja
      </button>
    </div>
  </div>
</div>
