<div class="registration-wrapper">
  <div class="row-12">
    <div class="col d-flex justify-content-center">
      <img src="../../../../assets/agh.jpg" />
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" formControlName="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" formControlName="login" class="form-control" />
    </div>
    <div class="form-group">
      <label for="passwordOne">Hasło</label>
      <input
        type="password"
        formControlName="passwordOne"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="passwordTwo">Potwierdź hasło</label>
      <input
        type="password"
        formControlName="passwordTwo"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Zarejestruj</button>
      <a [routerLink]="['/login']" class="btn btn-link">Anuluj</a>
    </div>
  </form>
</div>
