<mat-stepper #stepper>
  <!--STEP 1-->
  <mat-step>
    <ng-template matStepLabel>Wybierz przedmiot</ng-template>

    <mat-radio-group [(ngModel)]="itemValue" class="items-radio-group">
      <mat-radio-button
        class="item-radio-button"
        *ngFor="let item of itemList; let i = index"
        [value]="item"
        >{{ i }}. {{ item.name }}
      </mat-radio-button>
    </mat-radio-group>

    <div>
      <button mat-button (click)="goNext()">Dalej</button>
    </div>
  </mat-step>

  <!--STEP 2-->
  <mat-step>
    <ng-template matStepLabel>Wybierz Datę</ng-template>

    <mat-form-field class="date-field" appearance="fill">
      <mat-label>Wybierz dzień</mat-label>
      <input [formControl]="dateFormCtrl" matInput [matDatepicker]="picker" />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="picker.open()">Open</button>

    <div>
      <button mat-button matStepperPrevious>Cofnij</button>
      <button
        mat-button
        matStepperNext
        (click)="this.getReservationsOnThatDay()"
      >
        Dalej
      </button>
    </div>
  </mat-step>

  <!--STEP 3-->
  <mat-step>
    <ng-template matStepLabel>Wybierz Czas</ng-template>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Czas</mat-label>
      <input matInput placeholder="Ex. 1 Main St, New York, NY" required />
    </mat-form-field> -->
    <app-time-grid
      (selectedTimes)="getTimesFromTimeGrid($event)"
      [reservationList]="this.reservationList"
    ></app-time-grid>
    <div>
      <button mat-button matStepperPrevious>Cofnij</button>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>

  <!--STEP 4-->
  <mat-step>
    <ng-template matStepLabel>Gotowe</ng-template>

    <app-reservation-summary
      [userReservation]="this.userReservation"
    ></app-reservation-summary>
    <div>
      <button mat-button matStepperPrevious>Cofnij</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
