<mat-accordion>
  <mat-expansion-panel class="announcements-accordion" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Uwaga administratora </mat-panel-title>

      <mat-panel-description> Data dodania: 2021-12-07 </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Prosimy o niezwłoczne zgłaszanie usterek wypożyczonych zasobów. Stan
      urządzeń oraz sal ma bezpośredni wpływ na bezpieczeństwo użytkowania.
      Usterki można zgłaszać w panelu w zakładce ,,Twoje Rezerwacje''. Warto
      dbać o bezpieczeństwo swoje i innych!
    </p>
  </mat-expansion-panel>
</mat-accordion>
