<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Rozwiń wszystko</button>
  <button mat-button (click)="accordion.closeAll()">Zwiń wszystko</button>
</div>
<mat-accordion *ngIf="this.itemList" class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let item of this.itemList; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span
          >Zasób {{ i + 1 }}: <b>{{ item.name }}</b></span
        >
      </mat-panel-title>

      <mat-panel-description>
        <span>{{ item.manufacturer }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="resource-panel-body">
      <div class="resource-desc-one">
        <div><b>Opis:</b></div>
        <div class="item-desc">
          <span>{{ item.describiton }}</span>
        </div>
        <div>
          <span>
            <b>Data produkcji:</b>
            {{ this.datepipe.transform(item.productionDate, "medium") }}</span
          >
        </div>
      </div>

      <div class="resource-desc-two">
        <div>
          <button
            class="item-modify-btn"
            mat-raised-button
            (click)="openModifyDialog(item)"
          >
            Modyfikuj
          </button>
          <button
            class="item-delete-btn"
            mat-raised-button
            (click)="openDeleteConfirmationDialog(item)"
          >
            Usuń
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
