<table class="table table-bordered" *ngIf="this.reservationList.length > 1">
  <thead>
    <tr class="">
      <th class="col-1">#</th>
      <th class="col-3">{{ this.reservationList[0].day }}</th>
      <th class="col-3">{{ this.reservationList[1].day }}</th>
      <th class="col-3">{{ this.reservationList[2].day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8:00-10:00</th>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
    </tr>
    <tr>
      <th>10:00-12:00</th>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>12:00-14:00</th>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
    </tr>
    <tr>
      <th>14:00-16:00</th>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>16:00-18:00</th>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>18:00-20:00</th>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary">Primary</button>
