<table class="table table-bordered" *ngIf="this.reservationList.length > 1">
  <thead>
    <tr class="">
      <th class="col-1">#</th>
      <th class="col-3">{{ this.reservationList[0].day }}</th>
      <th class="col-3">{{ this.reservationList[1].day }}</th>
      <th class="col-3">{{ this.reservationList[2].day }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8:00-10:00</th>
      <td class="reservation-button-cell">
        <button
          (click)="getReservationTime(this.reservationList[0].reservations[0])"
          class="btn"
          [disabled]="this.reservationList[0].reservations[0].id != 0"
          [ngClass]="{
            'btn-primary': this.reservationList[0].reservations[0].id == 0,
            'btn-danger': this.reservationList[0].reservations[0].id != 0
          }"
        >
          <span *ngIf="this.reservationList[0].reservations[0].id == 0"
            >Rezerwuj</span
          >
          <span *ngIf="this.reservationList[0].reservations[0].id != 0"
            >Niedostępne</span
          >
        </button>
      </td>
      <td class="reservation-button-cell">
        <button
          class="btn"
          [disabled]="this.reservationList[1].reservations[0].id != 0"
          [ngClass]="{
            'btn-primary': this.reservationList[1].reservations[0].id == 0,
            'btn-danger': this.reservationList[1].reservations[0].id != 0
          }"
        >
          <span *ngIf="this.reservationList[1].reservations[0].id == 0"
            >Rezerwuj</span
          >
          <span *ngIf="this.reservationList[1].reservations[0].id != 0"
            >Niedostępne</span
          >
        </button>
      </td>
      <td class="reservation-button-cell">
        <button
          class="btn"
          [disabled]="this.reservationList[2].reservations[0].id != 0"
          [ngClass]="{
            'btn-primary': this.reservationList[2].reservations[0].id == 0,
            'btn-danger': this.reservationList[2].reservations[0].id != 0
          }"
        >
          <span *ngIf="this.reservationList[2].reservations[0].id == 0"
            >Rezerwuj</span
          >
          <span *ngIf="this.reservationList[2].reservations[0].id != 0"
            >Niedostępne</span
          >
        </button>
      </td>
    </tr>

    <tr>
      <th>10:00-12:00</th>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>12:00-14:00</th>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
    </tr>
    <tr>
      <th>14:00-16:00</th>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>16:00-18:00</th>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
      <td>Rezerwuj</td>
    </tr>
    <tr>
      <th>18:00-20:00</th>
      <td>Rezerwuj</td>
      <td>Niedostępne</td>
      <td>Rezerwuj</td>
    </tr>
  </tbody>
</table>
