<div class="main-action-buttons">
  <button
    mat-raised-button
    (click)="accordion.openAll()"
    class="open-all-action-buttons"
  >
    Rozwiń wszystko
  </button>
  <button
    mat-raised-button
    (click)="accordion.closeAll()"
    class="close-all-action-buttons"
  >
    Zwiń wszystko
  </button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let res of this.userReservations; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span
          >Rezerwacja {{ i + 1 }}:
          <b>{{
            this.datepipe.transform(
              this.userReservations[i].startDate,
              "medium"
            )
          }}</b></span
        >
      </mat-panel-title>

      <mat-panel-description>
        <span> Czas trwania: <b>2h</b> </span>
        <mat-icon>category</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="exp-panel-body">
      <div class="exp-desc-one">
        <span
          >Koniec rezerwacji:
          {{
            this.datepipe.transform(this.userReservations[i].endDate, "medium")
          }}</span
        >
      </div>

      <div class="exp-desc-two">
        <button
          mat-raised-button
          (click)="openDialog(this.userReservations[i].item!)"
        >
          Zgłoś usterkę
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
