<div class="user-profile-inputs">
  <h1 class="user-profile-title" mat-dialog-title>Twój profil</h1>
  <mat-accordion>
    <!-- Zmiana hasła -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Zmień hasło </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="updatePasswordDataForm">
        <mat-form-field class="user-profile-email-form" appearance="fill">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="oldPassword" />
          <mat-error
            *ngIf="
              updatePasswordDataForm.get('oldPassword').hasError('minlength') ||
              updatePasswordDataForm.get('oldPassword').hasError('required')
            "
          >
            Hasło jest zbyt krótkie
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile-password-form" appearance="fill">
          <mat-label>Nowe hasło</mat-label>
          <input matInput formControlName="newPasswordOne" />
          <mat-error
            *ngIf="
              updatePasswordDataForm
                .get('newPasswordOne')
                .hasError('minlength') ||
              updatePasswordDataForm.get('newPasswordOne').hasError('required')
            "
          >
            Hasło jest zbyt krótkie
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile-password-form" appearance="fill">
          <mat-label>Powtórz nowe hasło</mat-label>
          <input matInput formControlName="newPasswordTwo" />
          <mat-error
            *ngIf="
              updatePasswordDataForm
                .get('newPasswordTwo')
                .hasError('minlength') ||
              updatePasswordDataForm.get('newPasswordTwo').hasError('required')
            "
          >
            Hasło jest zbyt krótkie
          </mat-error>
        </mat-form-field>

        <div class="user-profile-footer">
          <button
            (click)="changePassword()"
            [disabled]="!isChangePasswordDisabled"
            mat-button
          >
            Zmień dane
          </button>
        </div>
      </form>
    </mat-expansion-panel>

    <!-- Zmiana maila -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Zmień adres e-mail </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="updateEmailDataForm">
        <mat-form-field class="user-profile-email-form" appearance="fill">
          <mat-label>Nowy adres e-mail</mat-label>
          <input matInput formControlName="newEmail" />
          <mat-error
            *ngIf="updateEmailDataForm.get('newEmail').hasError('pattern')"
          >
            Niepoprawny format
          </mat-error>
          <mat-error
            *ngIf="updateEmailDataForm.get('newEmail').hasError('required')"
          >
            Wymagany adres e-mail
          </mat-error>
        </mat-form-field>

        <mat-form-field class="user-profile-email-form" appearance="fill">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="currentPassword" />
          <mat-error
            *ngIf="
              updateEmailDataForm
                .get('currentPassword')
                .hasError('minlength') ||
              updateEmailDataForm.get('currentPassword').hasError('required')
            "
          >
            Hasło jest zbyt krótkie
          </mat-error>
        </mat-form-field>

        <div class="user-profile-footer">
          <button
            (click)="openEmailConfirmationDialog()"
            [disabled]="!isChangeEmailDisabled"
            mat-button
          >
            Zmień dane
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
