.user-profile-inputs {
  flex-direction: column;
  display: flex;
  background-color: white;

  .user-profile-title {
    margin-top: 10px;
    margin-left: 10px;
  }

  .user-profile-email-form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-profile-password-form {
    margin: 20px 20px 0px 20px;
  }

  .user-profile-footer {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
