<div class="user-profile-inputs">
  <h1 class="user-profile-title" mat-dialog-title>Twój profil</h1>

  <mat-form-field class="user-profile-email-form" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="this.email" />
  </mat-form-field>

  <mat-form-field class="user-profile-password-form" appearance="fill">
    <mat-label>Hasło</mat-label>
    <input matInput [(ngModel)]="this.passwordOne" />
  </mat-form-field>

  <mat-form-field class="user-profile-password-form" appearance="fill">
    <mat-label>Powtórz hasło</mat-label>
    <input matInput [(ngModel)]="this.passwordOne" />
  </mat-form-field>

  <div class="user-profile-footer">
    <button mat-button (click)="changeUserData()">Zmień dane</button>
  </div>
</div>
