<div class="user-profile-inputs">
  <h1 class="user-profile-title" mat-dialog-title>Twój profil</h1>

  <form [formGroup]="updateUserDataForm">
    <mat-form-field class="user-profile-email-form" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="updateUserDataForm.get('email').hasError('required')">
        Obecny adres e-mail jest wymagany pzry zmianie hasła!
      </mat-error>
      <mat-error *ngIf="updateUserDataForm.get('email').hasError('pattern')">
        Niepoprawny format!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="user-profile-password-form" appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="passwordOne" />
      <mat-error
        *ngIf="updateUserDataForm.get('passwordOne').hasError('required')"
      >
        Podaj obecne lub nowe odpowiednio skomplikowane hasło!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="user-profile-password-form" appearance="fill">
      <mat-label>Powtórz hasło</mat-label>
      <input matInput type="password" formControlName="passwordTwo" />
      <mat-error
        *ngIf="updateUserDataForm.get('passwordTwo').hasError('required')"
      >
        Powtórz obecne lub nowe odpowiednio skomplikowane hasło!
      </mat-error>
    </mat-form-field>

    <div class="user-profile-footer">
      <button mat-button (click)="changeUserData()">Zmień dane</button>
    </div>
  </form>
</div>
