
  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
      
    </button>
    <span>My App</span>

    <span class="example-spacer"></span>

    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>

  <mat-sidenav-container >

    <!-- SideNav -->
    <mat-sidenav class="sidenav" #sidenav mode="side">

      <div class="options">
        <div class="reservations d-flex justify-content-center">
            <button mat-raised-button >Twoje Rezerwacje</button>
        </div>
        <div class="reserve d-flex justify-content-center">
            <button mat-raised-button >Zarezerwuj</button>
        </div>
    </div>
      
    </mat-sidenav>
   
    <!-- Header -->
    <mat-sidenav-content class="sidenav-content"> 
      
      
      <div><p>TEST TEST EST</p></div>
       <!-- TU IDĄ komponenty -->

    </mat-sidenav-content>

  </mat-sidenav-container>
